version: '3'

services:
  client:
    build:
      context: ./client
    ports:
      - "5173:5173"
    depends_on:
      - server

  server:
    build:
      context: ./server
    ports:
      - "4000:4000"
    environment:
      MONGODB_URI: mongodb://localhost:27017/kota_db
    depends_on:
      - mongo

  mongo:
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
    driver: local
